<div class="card" mb-2>
  <!-- Toolbar -->
  <p-toolbar class="mb-6">
    <ng-template #start>
      <p-button severity="primary" routerLink="/projects/new">
        <i class="pi pi-plus mr-2"></i>
        Nuovo Progetto
      </p-button>
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>
  <!-- Tabella Progetti -->
  <p-table 
    [value]="projects" 
    [paginator]="true" 
    [rows]="100"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} di {totalRecords} progetti"
    [globalFilterFields]="['numeroProgetto','cliente','nomeProgetto','citta','stato','teamTecnico','teamAPL','sales','projectManager','teamInstallazione']"
    [loading]="loading"
    rowGroupMode="subheader" groupRowsBy="statoProgetto"
    [scrollable]="true" [scrollHeight]="tableHeight"
    [rowHover]="true"
    [showGridlines]="false"
    stripedRows
    [resizableColumns]="true"
    styleClass="p-datatable-sm">
    
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0 flex-1 text-left">Project list</h5>
        <div class="flex items-center gap-2">
          <p-iconfield iconPosition="left">
            <input pInputText type="text" placeholder="Cerca progetti..." [(ngModel)]="globalFilter" (input)="filterGlobal($event)" />
            <p-inputicon class="pi pi-search" />
          </p-iconfield>
          <p-multiselect display="chip" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected" [style]="{ 'min-width': '200px' }" placeholder="Choose Columns" (onChange)="onColumnsChange()" />
        </div>
      </div>
  </ng-template>

    <ng-template #header>
      <tr>
        <th pSortableColumn="numeroProgetto" style="width: 120px">
          #
        </th>
        <th *ngFor="let col of selectedColumns">
          {{ col.header }}
        </th>
        <th style="width: 80px"></th>
      </tr>
    </ng-template>
    <ng-template #groupheader let-project>
                <tr pRowGroupHeader>
                    <td colspan="13">
                        <div class="flex items-center gap-2">
                        <p-tag [value]="project?.statoProgetto" 
                          [severity]="getStatusSeverity(project?.statoProgetto)">
                        </p-tag>
                        </div>
                    </td>
                </tr>
            </ng-template>

    <ng-template pTemplate="body" let-project let-expanded="expanded">
      <tr>
        <td>
          <a [routerLink]="['/projects', project.numeroProgetto]" class="font-bold text-blue-500 hover:text-blue-700">
            {{ project.numeroProgetto }}
          </a>
        </td>
        <td *ngFor="let col of selectedColumns">
            <div *ngIf="col.field === 'stato'" class="flex items-center gap-2">
              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + project.stato.toLowerCase()" style="width: 20px" />
              <span>{{ project.stato || '-' }}</span>
            </div>
            <ng-container *ngIf="col.field !== 'stato'">
              <span *ngIf="col.field === 'dataInizioInstallazione' || col.field === 'dataFineInstallazione'; else defaultCell">
                {{ project[col.field] ? (project[col.field] | date:'dd/MM/yyyy') : '-' }}
              </span>
              <ng-template #defaultCell>
                {{ project[col.field] || '-' }}
              </ng-template>
            </ng-container>
        </td>
        <td>
          <div class="flex gap-1">
            <button class="p-button p-button-text p-button-sm" 
                    [routerLink]="['/projects', project.numeroProgetto, 'edit']">
              <i class="pi pi-pencil"></i>
            </button>
            <button class="p-button p-button-text p-button-sm p-button-danger" 
                    (click)="deleteProject(project)">
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="13" class="text-center p-4">
          <div class="text-500">
            <i class="pi pi-info-circle mr-2"></i>
            Nessun progetto trovato
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Dialog di conferma -->
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
